.inputbar{
    width: 65%;
  font-size: 1rem;
    min-height: 35px;
    border-radius: 10px;
    border:1px solid rgb(114, 112, 112);
    outline: none;
}
.InputContainer{
  width: 100%;
   display: flex;
   justify-content: space-around;
}
.leftInput{
  align-self: left;
  display:flex;
  color: white;
  font-size: 30px;
}
.rightInputSmile{
  color: white;
  font-size: 30px;
}
.rightInputMicro{
  color: white;
  font-size: 30px;
 
}