.container{
    display: flex;
    cursor: pointer;
}
.selectId{
    display: flex;
    cursor: pointer;
    /* width: 75%; */

    /* border-radius: 10px; */
    /* border: 2px solid gray; */
    background-color: brown;

  
} 
.unselectId{
    display: flex;
    /* width: 75%; */

    cursor: pointer;
  
}
.avatarContainer{

    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
}
.body{
    display: flex;
    width: 100%;
    
    
}
.bodyLeft{
    display: flex;
    flex-direction: column;
    margin: 2px;
       width: 75%;

}
.bodyRight{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: space-between; */
}
.space{
    margin-bottom: 5px;
    font-weight:bolder;
    font-size: small;
}
.spaceBet{
    height: 50%;
    


}
.spaceBt{
    height: 50%;
    background-color: royalblue;

  width: 20px;
  border-radius: 50%;
  text-align: center;
  align-self: right;
}

.dividerContainer{
    display: flex;
    justify-content: center;
    
}
.divider{
    width: 75%;
    border-bottom: rgb(131, 131, 131) 1px solid;
  
}
.lastMsg{
    font-size: small;
    color: rgb(120, 127, 133);
}